.image{
    text-align: center;
}
.name{
    text-align: center;
}
.about{
    font-family: 'Times New Roman', Times, serif;
}
.skills{

}
.projects{
    color: rgb(129, 108, 108);
}
.structure{
    background:beige;
}
