.image{
    text-align: center;
}
.name{
    text-align: center;
}
.about{
    font-family: 'Times New Roman', Times, serif;
}
.structure{
    background:rgb(206, 206, 170);
    font-size: large;
}
.about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hobbies{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}